<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>

<body>
    <h1>I should just redirect to newest version</h1>

    <script>
        (function () {
            window.location = "<%= htmlWebpackPlugin.options.baseurl %>" + "<%= htmlWebpackPlugin.options.basename %>";
        })();
    </script>
</body>

</html>